* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.slide {
    opacity: 0;
    transition: 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    transition: 1s ease-in-out;
}